


<div class="container">

  <div class="row">

    <div class="col-md-4 col-sm-6">
      <img id="pine-cake" src="https://www.ndtv.com/cooks/images/eggless-pineapple-pastry_620.jpg" alt="">
    </div>



    <div class="col-md-4 col-sm-6">
      <img id="b-cake" src="https://www.seriouseats.com/images/2014/11/BakedOccasions_BirthdayCake.jpg" alt="">
    </div>

    <div class="col-md-4 col-sm-6">
      <img id="coco-cake" src="https://www.baking-sense.com/wp-content/uploads/2015/05/coconut-cake-slice-a.jpg" alt="">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-sm-6">
      <img id="cheese-cake"src="http://www.wsllpaper.com/wp-content/uploads/2015/12/A-slice-of-cheese-cake-with-cherry-sauce.jpg" alt="">
    </div>

    <div class="col-md-4 col-sm-6">
      <img id="red-velvet" src="https://www.shebafoods.com/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/r/e/redvelvetslice_556.jpg" alt="">
    </div>

    <div class="col-md-4 col-sm-6">
      <img id="carrot-cake" src="http://d3lp4xedbqa8a5.cloudfront.net/s3/digital-cougar-assets/food/2014/11/27/RecipesBR103832/carrot-cake-slice.jpg" alt="">

    </div>
  </div>
</div>
