



<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-6">
      <img id="choc-cookie" src="https://www.otisspunkmeyer.com/sites/default/files/styles/large/public/products/cookie-stack_1.png?itok=PT0gTiWO" alt="">
     <h2>Chocolate Chip</h2>
    </div>
    <div id="oatmeal" class="col-md-4 col-sm-6">
      <img src="http://www.xoxodesserts.com/images/cookies/Oatmeal-Raisin-Cookies.png" alt="">
            <h2>Oatmeal</h2>
    </div>

    <div class="col-md-4">
      <img id="ginger-cookie" src="https://hotcookiebakery.com/wp-content/uploads/2017/06/Ginger-Snap-Cookie-Mini.png" alt="">
        <h2>Ginger</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">

      <img id="almond-cookie" src="https://s3-us-west-2.amazonaws.com/assets.cookiesbygeorge.com/s3fs-public/CookieBanner-ReverseAlmondChocolateChunk.png" alt="">
      <h2>Almond</h2>
    </div>

    <div class="col-md-4">
      <img id="coco-cookie" src="http://www.paradisepastry.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/I/M/IMG_8051__93337_2.png" alt="">
      <h2>Coconut</h2>
    </div>

    <div class="col-md-4">
      <img id="bw-cookie" src="https://www.entenmanns.com/sites/default/files/styles/large/public/201wu-ENT-BW-cookies.png?itok=kVd6hVOv" alt="">
      <h2>Black & White</h2>
    </div>

  </div>
</div>
