
<div >
         <h1 class="total">Cookies sold:</h1>
      <h1 id="number"></h1>
    </div>



<div class="container cookies">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <img class="card" id="choc-cookie" src="https://i0.wp.com/francostigan.com/wp-content/uploads/2017/05/Black-and-White-Cookies.jpg?resize=480%2C270&ssl=1" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>Chocolate Chip</h2>
    </div>
    <div id="oatmeal" class="col-md-4 col-sm-6 col-xs-12">
      <img class="card" src="https://i0.wp.com/francostigan.com/wp-content/uploads/2017/05/Black-and-White-Cookies.jpg?resize=480%2C270&ssl=1" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>Oatmeal</h2>
    </div>

    <div class="col-md-4">
      <img class="card" id="ginger-cookie" src="https://i0.wp.com/francostigan.com/wp-content/uploads/2017/05/Black-and-White-Cookies.jpg?resize=480%2C270&ssl=1" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>Ginger</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">

      <img class="bottom card" id="almond-cookie" src="https://i2.wp.com/www.cookingcurries.com/wp-content/uploads/2015/09/Ginger-Pistachio-Cookies-with-Almond2_thumb.png?resize=480%2C270&ssl=1" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>Almond</h2>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <img  class="bottom card" id="coco-cookie" src="https://cocotreasure.com/wp-content/uploads/2016/05/coconut-oil-peanut-butter-cookies-480x270.jpg" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>Coconut</h2>
    </div>

    <div class="col-md-4 col-sm-6-col-xs-12">
      <img class="bottom card" id="bw-cookie" src="https://i0.wp.com/francostigan.com/wp-content/uploads/2017/05/Black-and-White-Cookies.jpg?resize=480%2C270&ssl=1" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>Black & White</h2>
    </div>

  </div>
</div>
