


<div class="c-banner">
  <h1>Broken Bakery</h1>
</div>

<div class= container>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="container-cookie">
        <a href="cookies.erb"><img src="https://www.cookingclassy.com/wp-content/uploads/2014/08/pumpkin_oat_chocolate_chip_cookies.-480x270.jpg" alt="cookie"></a>
        <div>
          <h2>Cookies</h2>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-6">
      <div class="container-cookie">
        <a href="cakes.erb"><img src="http://goodiegodmother.com/wp-content/uploads/2017/12/Peppermint-Bark-Cake-480x270.jpg" alt="cookie"></a>
        <div>
          <h2>Cakes</h2>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-6">
      <div class="container-cookie">
        <a href="muffins.erb">
          <img src="https://www.justataste.com/wp-content/uploads/2016/03/blueberry-coffee-cake-muffins-streusel-recipe-480x270.jpg" alt="cookie">
        </a>
        <div>
          <h2>Muffins</h2>
        </div>
      </div>
    </div>
  </div>
</div>
















