








<div class="c-banner">
<h1>Broken Bakery</h1>
</div>

<div class= container>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="container-cookie">
        <a href="cookies.erb"><img src="https://images-gmi-pmc.edge-generalmills.com/ec641c8d-d90b-4297-ba56-919a58eb9c9a.jpg" alt="cookie"></a>
        <div>
          <h2>Cookies</h2>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-6">
      <div class="container-cookie">
        <a href="cakes.erb"><img src="https://img1.southernliving.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2017/12/main/2552101_saver_020_0.jpg?itok=x4fM6DkH" alt="cookie"><a>
        <div>
          <h2>Cakes</h2>
        </div>
      </div>
    </div>

<div class="col-md-4 col-sm-6">
      <div class="container-cookie">
        <a href="muffins.erb"><img src="https://smittenkitchendotcom.files.wordpress.com/2010/08/perfect-blueberry-muffins.jpg?w=750" alt="cookie"><a>
        <div>
          <h2>Muffins</h2>
        </div>
      </div>
    </div>



  </div>
</div>














