<!DOCTYPE html>
<html>
<head>
  <title>Bakery</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>


<div class="nav-container">
    <ul>
      <li><a href="#">
        About
      </a>
      </li>
      <li>
        <a href="#">
        Contact
      </a>
      </li>
      <li>
        <a href="#">
        Shop
      </a>
      </li>
    </ul>

</div>








<%= yield %>







</body>
</html>
