

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <img id="blue-muffin" src="https://www.browneyedbaker.com/wp-content/uploads/2016/06/blueberry-muffins-31-600.jpg" alt="">
    </div>

    <div class="col-md-4 col-sm-6">
      <img id="banana-muffin" src="https://sparkpeo.hs.llnwd.net/e1/resize/630m620/e2/guid/Banana-Chocolate-Chip-Muffins/651c890a-7eb6-4092-a1ae-6b841101b6d9.jpg" alt="">
    </div>

    <div class="col-md-4 col-=sm-6">
      <img id="choc-muffin" src="http://www.delonghi.com/Global/recipes/multifry/151.jpg" alt="">
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-sm-6">
    <img id="straw-muff" src="https://www.onceuponachef.com/images/2015/05/Strawberry-Muffins4-575x381.jpg" alt="">
    </div>

    <div class="col-md-4 col-sm-6">
      <img id="choc-muffin" src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/283be2c0294c45f9adee19d1910959e6/BFV41154_ChocolateFilledBananaMuffins_FB_Final.jpg" alt="">
    </div>

    <div class="col-md-4 col-sm-6">
      <img id="corn-muffin" src="https://www.wikihow.com/images/thumb/3/3f/Make-Muffins-with-Pancake-Mix-Step-5-Version-2.jpg/aid1966121-v4-728px-Make-Muffins-with-Pancake-Mix-Step-5-Version-2.jpg" alt="">
    </div>
  </div>
</div>
