







       <div >
         <h1 class="total">Muffins sold:</h1>
      <h1 id="number"></h1>
    </div>


<div class="container muffins">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <img class="card" id="blue-muffin" src="https://www.browneyedbaker.com/wp-content/uploads/2016/06/blueberry-muffins-31-600.jpg" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>blueberry</h2>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <img class="card" id="banana-muffin" src="https://sparkpeo.hs.llnwd.net/e1/resize/630m620/e2/guid/Banana-Chocolate-Chip-Muffins/651c890a-7eb6-4092-a1ae-6b841101b6d9.jpg" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>banana</h2>
    </div>

    <div class="col-md-4 col-=sm-6 col-xs-12">
      <img class="card" id="choc-muffin" src="http://www.delonghi.com/Global/recipes/multifry/151.jpg" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>chocolate</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
    <img class="card" id="straw-muff" src="https://www.onceuponachef.com/images/2015/05/Strawberry-Muffins4-575x381.jpg" alt="">
    <button class="btn btn-primary">$1.00</button>
    <h2>strawberry</h2>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <img class="card" id="choc-muffin" src="https://bakingmischief.com/wp-content/uploads/2018/02/chocolate-banana-muffins-image-square-480x270.jpg" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>chocolate-banana</h2>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <img class="card" id="corn-muffin" src="https://www.wikihow.com/images/thumb/3/3f/Make-Muffins-with-Pancake-Mix-Step-5-Version-2.jpg/aid1966121-v4-728px-Make-Muffins-with-Pancake-Mix-Step-5-Version-2.jpg" alt="">
      <button class="btn btn-primary">$1.00</button>
      <h2>corn</h2>
    </div>
  </div>
</div>
